.category-label {
    font-size: medium;
    font-weight: 600;
}

.category-value {
    font-size: medium;
}

.scan-result-title {
    font-size: 16px;
    font-weight: 700; 
}

.evenRow {
    background-color: grey !important;
}

.result-key-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    color: #eff309;
}